@themeColor: #BBBFDC;
@themeDark: #666099;

#lp
{
    .jumbotron
    {
        background: linear-gradient(135deg, @themeDark, @themeColor);
        background-size: cover;
        min-height: 35rem;
        height: 100vh;
        padding-top: 40vh;
        h1, p {
            color: white !important;
        }
        .lead {
            font-size: 1.55rem;
        }
    }

    .dmq-subtitle
    {
        margin-top: 8rem;
        margin-bottom: 5rem;
    }

    .dmq-works article p
    {
        color: #116;
    }
}

.font-weight-light {
    font-weight: 100;
}
