@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// Color definition =======================================
$dmqlight: #BBBFDC;
$dmqlight-inv: findColorInvert($dmqlight);
$dmqdark: darken($dmqlight, 20%);
$dmqdark-inv: findColorInvert($dmqdark);
$github: #333;
$github-inv: findColorInvert($github);
$twitter: #55acee;
$twitter-inv: findColorInvert($twitter);
$nico: lighten(#060102, 5%);
$nico-inv: findColorInvert($nico);
$pixiv: #0096DB;
$pixiv-inv: findColorInvert($pixiv);
// Preference Settings ====================================
$body-background-color: $dmqlight;
$body-line-height: 1.7;
$family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
"Original Yu Gothic",
"Yu Gothic",
YuGothic,
Verdana,
Meiryo,
sans-serif;
$footer-background-color: $dmqlight;
$navbar-background-color: rgba(white, 0.8);
@import "~bulma/sass/utilities/derived-variables";
$addColors: ("dmqlight": ($dmqlight, $dmqlight-inv), "dmqdark": ($dmqdark, $dmqdark-inv), "github": ($github, $github-inv), "nico": ($nico, $nico-inv), "pixiv": ($pixiv, $pixiv-inv), "twitter":($twitter, $twitter-inv));
$colors: map-merge($colors, $addColors);
@import "~bulma";
// Customize ==============================================
@import "iframe";
body {
    background-color: $white-bis;
}

.button.is-large {
    font-size: 1.25rem;
}

.card-image img {
    object-fit: cover;
}

.field .button.is-large {
    font-size: 1.5rem;
}

#dmq {
    .footer {
        -webkit-box-shadow: 0 -1px 3px $dmqdark, 0 0 0 1px $dmqdark;
        box-shadow: 0 -1px 3px $dmqdark, 0 0 0 1px $dmqdark;
    }
    .title {
        font-weight: 100;
    }
    .card.dmq-dept {
        background-color: $white-bis;
        box-shadow: none;
        .card-header {
            box-shadow: none;
        }
    }
    .dmq-sns .button {
        border-radius: 50%;
        font-size: 1.5rem;
        width: 10rem;
        height: 10rem;
    }
}